<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>web-kcsj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>inde.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.lzw.web.utils.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/imageservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.textproducer.char.string</param-name>
      <param-value>0123456789</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>kaptcha</servlet-name>
    <url-pattern>/randomcode.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JdbcDaoImplBuyer</servlet-name>
    <servlet-class>com.lzw.web.controller.RegisteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcDaoImplBuyer</servlet-name>
    <url-pattern>/registered</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>buy</servlet-name>
    <servlet-class>com.lzw.web.controller.Buy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buy</servlet-name>
    <url-pattern>/api/buy</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.lzw.web.page.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SublistServlet</servlet-name>
    <servlet-class>com.lzw.web.page.servlet.SublistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SublistServlet</servlet-name>
    <url-pattern>/sublist/SublistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JdbcSqlServlet</servlet-name>
    <servlet-class>com.lzw.web.page.servlet.JdbcSqlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcSqlServlet</servlet-name>
    <url-pattern>/jdbcSql/JdbcSqlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicServlet</display-name>
    <servlet-name>PublicServlet</servlet-name>
    <servlet-class>com.lzw.web.controller.PublicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicServlet</servlet-name>
    <url-pattern>/publicSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.lzw.web.controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/api/delete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>delete_goodsid</servlet-name>
  	<servlet-class>com.lzw.web.controller.delete_goodsid</servlet-class>
  </servlet>
  	<servlet-mapping>
  		<servlet-name>delete_goodsid</servlet-name>
  		<url-pattern>/delete_goodsid</url-pattern>
  	</servlet-mapping>
  	 <servlet>
  	<servlet-name>delete_userid</servlet-name>
  	<servlet-class>com.lzw.web.controller.delete_goodsid</servlet-class>
  </servlet>
  	<servlet-mapping>
  		<servlet-name>delete_userid</servlet-name>
  		<url-pattern>/delete_userid</url-pattern>
  	</servlet-mapping>
  
</web-app>